In [127]:
import yfinance as yf
import pandas as pd

In [128]:
tesla = yf.Ticker('TSLA')

In [129]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [130]:
tesla_data = tesla.history(period="max")

TSLA: No data found for this date range, symbol may be delisted

In [131]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
html_data = requests.get(url).text

In [132]:
#soup = BeautifulSoup(html_data,"html5lib")
soup = BeautifulSoup(html_data)

In [133]:
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('Tesla Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')

        for row in rows:
            col = row.find_all('td')

            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

In [134]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [135]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [136]:
gme = yf.Ticker('GME')

In [137]:
gme_data = gme.history(period='max')

GME: No data found for this date range, symbol may be delisted

In [138]:
gme_data.reset_index(inplace=True)
gme_data.head(5)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [139]:
url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
html_data = requests.get(url).text

In [140]:
#soup = BeautifulSoup(html_data,"html5lib")
soup = BeautifulSoup(html_data)

In [141]:
gme_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('GameStop Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')

        for row in rows:
            col = row.find_all('td')

            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                gme_revenue = gme_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

In [142]:

gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

In [143]:
gme_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [1]:
import matplotlib.pyplot as plt

# Load Tesla stock data
tesla_stock_data = pd.read_csv('TSLA_stock_data.csv', index_col='Date', parse_dates=True)

# Load Tesla revenue data
tesla_revenue_data = pd.read_csv('tesla_revenue_data.csv')
tesla_revenue_data['Date'] = pd.to_datetime(tesla_revenue_data['Date'])
tesla_revenue_data.set_index('Date', inplace=True)

# Create the dashboard
fig, ax1 = plt.subplots()

ax1.plot(tesla_stock_data.index, tesla_stock_data['Close'], color='blue', label='Stock Price')
ax1.set_xlabel('Date')
ax1.set_ylabel('Stock Price', color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

ax2 = ax1.twinx()
ax2.plot(tesla_revenue_data.index, tesla_revenue_data['Revenue'].str.replace(',', '').astype(float), color='green', label='Revenue')
ax2.set_ylabel('Revenue (in millions)', color='green')
ax2.tick_params(axis='y', labelcolor='green')

fig.tight_layout()
plt.title('Tesla Stock Price and Revenue Over Time')
plt.show()

NameError: name 'pd' is not defined

In [2]:
import matplotlib.pyplot as plt

# Load GameStop stock data
gamestop_stock_data = pd.read_csv('GME_stock_data.csv', index_col='Date', parse_dates=True)

# Load GameStop revenue data
gamestop_revenue_data = pd.read_csv('gamestop_revenue_data.csv')
gamestop_revenue_data['Date'] = pd.to_datetime(gamestop_revenue_data['Date'])
gamestop_revenue_data.set_index('Date', inplace=True)

# Create the dashboard
fig, ax1 = plt.subplots()

NameError: name 'pd' is not defined